@keyframes bounce{
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(20%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes slide{
    0%{
        transform: translateX(-100%);
    }
    50%{   
        transform: translate(0%);
    }
}
.ball{
    background-color: black;
    width: 100px;
    margin-left: 0%;
    animation: bounce 2s;
}
.slider{
    width: 100%;
    animation: slide 5s;
}
